body{
    width:100%;
    height:100%;
    overflow:hidden;
    background-image: url(../img/background.jpg);
    background-size: contain;
}

section{
    display:flex;
    justify-content: center;
    color:rgb(250, 206, 61);
    font-size:4em;
    line-height:1.5em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;

    height:1000px;
    perspective:400px;

}

div.slide{
    position:relative;
    padding-top:800px;
    transform-origin: 50% 100%;
    animation : crawl 60s linear 7s;
}

h1{
    text-align: center;
    font-size:2.3em;
    line-height:1.5em;
}

h2{
    text-align:center;
    font-size:1.5em;
    line-height:1.5em;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -12000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-4500px);
  }
}


.fade{
    position:relative;
    top:-30px;
    width:100%;
    height:50vh;
    z-index:1;
    background-image:linear-gradient(0deg, transparent,black 80%);
}

.intro{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:10;
    animation:intro 6s ease-in-out forwards;
    display: show;
}

.intro p{
    width:50%;
    line-height: 1.5em;
    color:rgb(14, 198, 223);
    font-size:2.5em;
    letter-spacing:3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-shadow: 0 0 20px rgb(14, 198, 223);
}

@keyframes intro{
    0%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity:0;}
}

.logo{
    position:absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height: 100vh;
    animation: logo 5s ease-in 6s forwards;
}

.logo img{
    border-radius: 50%;
    box-shadow: 0 0 30px white;
}

@keyframes logo{
    0%{transform:scale(1);opacity:1;}
    /* 40%{transform:scale(0.8)} */
    99%{transform:scale(0);opacity:1;}
    100%{transform:scale(0);opacity:0;}
}

.star{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    width:100%;
    height:100vh;
    z-index:100;
    animation: star 1s ease 11s;
    opacity:0;
}

.star img{
    width:6%;
}

@keyframes star{
    0%{opacity:0.5;}
    50%{opacity:1;transform:scale(1.3)}
    100%{opacity:0;transform:scale(0.9)}
}